*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
};

#bootstrap-overrides h1 { /* 100+1=101 priority score, yay! */
    line-height: 1;
    color: inherit;
  
}



h2 {
    padding: 2rem;
};

li{
    text-decoration: none;
    
}

a {
    text-decoration: none;
    color: black;
    
}
/* a:hover {
    color:grey;
} */

.single-vidoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtubers{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    padding-top: 500px;
    align-items: flex-end;
    
}